<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./xuni/bundle.js"></script>
</head>

<body>
  <div id='app'></div>
  <script>
    const template = `
      <ul>
        {{#arr}}
          <li>
            <p>{{name}}</p>
            <ol>
              {{#list}}
              <li>
                <p>{{a.val}}</p>
                <p>{{b}}</p>
                <p>{{c}}</p>
              </li>
              {{/list}}
            </ol>
          </li>
        {{/arr}}
      </ul>
    `

    const data = {
      arr: [
        {
          name: 'A', list: [{
            a: {
              val: 'a'
            },
            b: 'b',
            c: 'c'
          }]
        },
        {
          name: "B", list: [{
            a: {
              val: 'a'
            },
            b: 'b',
            c: 'c'
          }]
        },
        {
          name: 'C', list: [{
            a: {
              val: 'a'
            },
            b: 'b',
            c: 'c'
          }]
        }
      ]
    }

    const res = window.templateEngine.render(template, data)
    app.innerHTML = res

  </script>
</body>

</html>