.app {
  width: 80%;
  margin: auto;
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    .active {
      color: red;
    }
  }

  .content {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    .login {
      .label {
        display: inline-block;
        width: 70px;
      }
      .btn {
        padding-top: 10px;
        text-align: center;

        button:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}
